# Stash variable
snippet sv
	$c->stash->{${1:key}}
# Debug message
snippet db
	$c->log->debug( ${1:message} )
	  if $c->debug;
snippet sl
	#---------------------------------------
snippet ll
	#-------------------------------------------------------------------------------
