# console debug message
snippet db
	console.debug( "${1:msg}" );
endsnippet
snippet sl
	//--------------------------------------
endsnippet
snippet ll
	//----------------------------------------------------------------------------
endsnippet
