# console debug message
snippet db
	console.debug( "${1:msg}" );
snippet sl
	//--------------------------------------
snippet ll
	//----------------------------------------------------------------------------
