
# line separators
snippet sl "short line separator (sl)" b
#---------------------------------------
$0
endsnippet

snippet ll "long line separator (ll)" b
#-------------------------------------------------------------------------------
$0
endsnippet

snippet "ban(ner)?"  "three-line banner separator (ban)" br
#-------------------------------------------------------------------------------
#- ${1:Text} `!p snip.rv = ( 76-len(t[1]))*'-' `
#-------------------------------------------------------------------------------

endsnippet

